* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

img {
    display: block;
    height: initial;
}

/* estilos de escritorio por defecto */

h1{
    text-align: center;
    font-family: sans-serif;
}

.main{
    max-width: 1280px;
    margin: 0 auto;
    padding: .75rem;
    /* background-color: cadetblue; */
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: .75rem;
}

.item{
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgb(9, 8, 21);
}

.item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.5s;
}

.item-image:hover {
    opacity: 1;
    scale: 1.05;
}


/* tablet 1023px */

@media screen  and (max-width:1023px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}


/* moviles 435px */

@media screen  and (max-width:435px) {
    .container {
        grid-template-columns: 1fr;
    }
}

