/* Estilos bases para moviles  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}
img {
    width: 100%;
}

.nav{
    padding: .75rem 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand{
    text-align: center;
    padding: 1rem 0.5rem;
}


.brand-image{
    width: 100%;
    max-width: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
}

.menu-item{
    padding: 0.75rem 0;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

/* estilos para tablets 768px*/

@media screen and (min-width:768px){
    .nav{
        border-bottom: 1px solid palevioletred;
    }
    .menu{
        flex-direction: row;
        background-color: cadetblue;
    }
    .menu-item{
        flex-grow: 1;
    }
}

/* estilos para laptop 1024px*/
@media screen and (min-width:1024px){
    .nav{
        padding: .75rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .brand{
        padding: 0;
    }

    .brand-image{
        max-width: 140px;
    }

    .menu{
        gap: 2rem;
    }
    .menu-item:hover{
        cursor: pointer;
        
    }

    
}


/* estilos para escritorios 1280px*/

@media screen and (min-width:1280px) {
    .nav{
        max-width: 1280px;
        margin: 0 auto;

    } 

}